.text-primary{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
}
.button-greenyellow {
    padding: 5px;
    background-color: greenyellow;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 10px; 
}

.button-greenyellow:link {
    padding: 5px;
    background-color: greenyellow;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}

.button-greenyellow:visited {
    padding: 5px;
    background-color: greenyellow;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}

.button-greenyellow:hover {
    padding: 5px;
    background-color: rgb(140, 211, 33);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}

.button-greenyellow:active {
    padding: 5px;
    background-color: greenyellow;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}

.button-green {
    padding: 5px;
    background-color: green;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 10px;
}

.button-green:link {
    padding: 5px;
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-decoration: none;
    border-radius: 10px;
}

.button-green:visited {
    padding: 5px;
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-decoration: none;
    border-radius: 10px;
}

.button-green:hover {
    padding: 5px;
    background-color: rgb(6, 99, 6);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}

.button-green:active {
    padding: 5px;
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 10px;

}

.button-red {
    padding: 5px;
    background-color: green;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 10px;
}

.button-red:link {
    padding: 5px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-decoration: none;
    border-radius: 10px;
}

.button-red:visited {
    padding: 5px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-decoration: none;
    border-radius: 10px;
}

.button-red:hover {
    padding: 5px;
    background-color: rgb(182, 14, 14);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-decoration: none;
    border-radius: 10px;
}

.button-red:active {
    padding: 5px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-decoration: none;
    border-radius: 10px;
}

table.table-grid-double, th, td{
    border: 1px solid;
    margin-left: 10px;
    margin-right: 10px;
}


table.table-grid, th, td{
    border: 1px solid;
    border-collapse: collapse;
}

table.table-grid td {
    margin-left: 10px;
    margin-right: 10px;
}

.border-around{
    border: 1px solid;
}

.border-around a,h1,h2,h3,h4,h5,h6,p,td,th,ul,li,input,button{
    margin: 3px;
}

table.table-grid{
    width: 100%;
}

td.middle-element{
    text-align: center;
}

.input-page{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 2px;
    border-radius: 10px;
}

.input-70{
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 2px;
    border-radius: 10px;
}
.input-50{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 2px;
    border-radius: 10px;
}

.input-350px{
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 2px;
    border-radius: 10px;
}

.image-bg-gray {
    padding: 10px;
    background-color: rgb(151, 151, 151);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-decoration: none;
    border-radius: 10px;
}

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
}